<p id="notice"><%= notice %></p>

<h1>Tidbits</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Body</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>
  <!-- <% if can? :ror, @tidbits %>
    <%= 'Hiddedn Text' %> |
  <% end %> -->
  <tbody>

 <!-- <% @tidbits.each do |tidbit| %>
      <tr>
        <td><%= tidbit.body %></td>
        <td><%= link_to 'Show', tidbit %></td>
        <td><%= link_to 'Edit', edit_tidbit_path(tidbit) %></td>
        <td><%= link_to 'Destroy', tidbit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %> -->
    <% if current_user.has_role? :ruby %>
       <% @tid_ruby.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>å
       <% end %>
       <% end %>

       <% if current_user.has_role? :random %>
       <% @tid_random.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>
       <% end %>
       <% end %>

       <% if current_user.has_role? :rails %>
       <% @tid_rails.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>
       <% end %>
       <% end %>

       <% if current_user.has_role? :positive %>
       <% @tid_positive.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>
       <% end %>
       <% end %>

       <% if current_user.has_role? :ee %>
       <% @tid_ee.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>
       <% end %>
       <% end %>

       <% if current_user.has_role? :poker %>
       <% @tid_poker.each do |tidbit| %>
         <li>
           <%= tidbit.topic %>
           <%= link_to tidbit.subject, tidbit_path(tidbit) %>
         </li>
       <% end %>
       <% end %>





  </tbody>
</table>

<br>

<!-- <%= link_to 'New Tidbit', new_tidbit_path %> -->
